<footer class="py-2 bg-dark-slate-gray flex flex-col justify-center items-center gap-4">
  <div class="footer-links">
    <nav class="flex flex-col gap-2">
      <h2 class="font-bold text-gray-100">Links</h2>
      <a class="text-gray-100" routerLink="/">Home</a>
      <a class="text-gray-100" routerLink="/behind-the-scenes">Behind the Scenes</a>
      <a class="text-gray-100" routerLink="/behind-the-scenes/cobra">COBRA</a>
    </nav>
  </div>
  <span class="italic text-gray-100">© Eloquia</span>
</footer>
