<!-- <div class="px-8 py-32 bg-gray-100 flex flex-col gap-3 md:flex-row md:justify-center md:items-center"> -->
<div class="px-8 py-32 bg-gray-100 md:container md:grid md:grid-cols-11">
  <div class="bg-gray-500 w-5/6 flex justify-center items-center md:col-span-3 md:col-start-3">
    <p>Picture</p>
  </div>
  <div class="about-text-container flex flex-col gap-4 col-span-4">
    <h1 class="text-2xl"><strong class="font-bold<">Software Engineer</strong></h1>
    <h2 class="text-lg"><em class="italic">"Swiss Army Knife"</em></h2>
    <p class="">I have 6+ years of experience developing and deploying enterprise software applications, from big data in Hadoop
      to cloud-native environments. Many would call me a t-shaped engineer with a focus on developing full-stack
      applications in AWS. I have written these applications to read and write data to SQL, NoSQL, and document-base
      databases. Also I have fine-tuned and deployed machine learning algorithms for classifying
      text-based data with state-of-the-art NLP.</p>

    <p class="">In my next role, I am interested in further expanding my technical capabilities as well as growing into a tech
      lead/archtect role.</p>
  </div>
</div>
