<div class="p-8 my-32 grid grid-cols-12 gap-3">
  <div class="col-span-3 col-start-2 bg-gray-800 flex justify-center items-center">
    <p>Picture</p>
  </div>
  <div class="py-8 px-4 col-span-7 bg-gray-800 flex flex-col gap-3">
    <h1>Software Engineer "Swiss Army Knife"</h1>
    <p>I have 6+ years of experience developing and deploying enterprise software applications, from big data in Hadoop
      to cloud-native environments. Many would call me a t-shaped engineer with a focus on developing full-stack
      applications in AWS. I have written these applications to read and write data to SQL, NoSQL, and document-base
      databases. Also I have fine-tuned and deployed machine learning algorithms for classifying
      text-based data with state-of-the-art NLP.</p>

    <p>In my next role, I am interested in further expanding my technical capabilities as well as growing into a tech
      lead/archtect role.</p>
  </div>
</div>
