<div class="px-8 py-32 bg-gray-100 flex flex-col md:grid md:grid-cols-12 md:gap-3">
  <section class="py-8 px-4 col-span-4 col-start-2 flex items-center justify-center">
    <div class="outside-work-container flex flex-col gap-3">
      <h2 class="text-2xl">Outside Work</h2>

      <p>You can find me:</p>
      <ul class="list-inside list-disc">
        <li>Climbing rocks, real or fake</li>
        <li>Hiking or biking</li>
        <li>Browsing farmers' markets</li>
        <li>Sipping coffee and reading books</li>
        <li>Devising dad jokes/puns</li>
      </ul>
    </div>
  </section>

  <section class="col-span-6 bg-gray-500 flex justify-center items-center">
    <p>Slideshow of activities, I guess</p>
  </section>
</div>
