<div class="py-8 my-32 grid grid-cols-12 gap-3">
  <section class="py-8 px-4 col-span-4 col-start-2 bg-gray-800 flex items-center justify-center">
    <div class="outside-work-container bg-transparent flex flex-col gap-3">
      <h1>Outside Work</h1>

      <p>You can find me:</p>
      <ul class="list-inside list-disc">
        <li>Climbing rocks, real or fake</li>
        <li>Hiking or biking</li>
        <li>Browsing farmers' markets</li>
        <li>Sipping coffee and reading books</li>
        <li>Devising dad jokes/puns</li>
      </ul>
    </div>
  </section>

  <section class="col-span-6 bg-gray-800 flex justify-center items-center">
    <p>Slideshow of activities, I guess</p>
  </section>
</div>
