<div class="py-8 bg-blizzard-blue flex flex-col items-center">
  <h2 class="text-2xl font-bold">Where I've worked</h2>
  <article
      *ngFor="let workHistory of workHistories"
      class="px-8 py-16 md:w-full md:flex md:flex-col md:items-center">
    <div class="bg-transparent md:w-1/2">
      <h2 class="text-xl font-bold">{{ workHistory.jobTitle }}</h2>
      <div class="work-metadata flex flex-col md:grid md:grid-cols-2">
        <h3>{{ workHistory.companyName }}</h3>
        <span class="md:text-right">{{ workHistory.startDate }} - {{workHistory.endDate }}</span>
        <h3>@ {{ workHistory.location }}</h3>
      </div>

      <section class="py-4">
        <p class="font-bold">Description</p>
        <p class="text-justify">{{ workHistory.jobDescription }}</p>
      </section>

      <section class="py-4">
        <p class="font-bold">Responsibilities</p>
        <ul class="list-inside list-disc">
          <li
              class="text-justify"
              *ngFor="let reponsibility of workHistory.responsibilities">
            {{ reponsibility }}
          </li>
        </ul>
      </section>
    </div>
  </article>
</div>
